-- -*- lua -*-
help(
[[
vim
]])

-- comments are prefaced with two dashes

whatis("Description: tau")
whatis("URL: http://tau.uoregon.edu")

local install_path = "{{ install_dir }}/tau"

-- set an environment variable
setenv("TAU_HOME", install_path)
setenv("TAU_MAKEFILE", pathJoin(install_path, "x86_64", "lib", "Makefile.tau"))

-- add to PATH variable
prepend_path('PATH', pathJoin(install_path,"x86_64","bin"))

prepend_path('MANPATH', pathJoin(install_path,"man"))
